/*! HTML5 Boilerplate v7.1.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 1.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

 
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}




 /* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5rem;
    color: #E2E2E2;
}

img{
    border-radius: 4px;
}

h1 {
font-family: 'Chicle', cursive;
font-size: 3rem;
line-height: 1;
}

ul {
margin: 0;
padding: 0;
list-style-type: none;
}

li {
display: inline-block;
}

header ul{
    padding: 1 rem solid #E2E2E2;
}

.navmenu {
    border-top: 1 rem solid #e2e2e2;
}

header li a {
text-decoration: none;
border:  2px solid #E2E2E2;
color: #44554F;
padding: 0 10px;
background: #E2E2E2 no-repeat 50% 50%;
}

header {
text-align: center;
background: #44554F no-repeat 50% 50%;
background-size: cover;
padding: 1rem 1.5rem 1.5rem 1.5rem;
border-bottom: 1em solid #E2E2E2;
}

.hero {
    padding: 1.5rem;
        background: url(../img/heroimg.png);
        background-size: cover;
        text-align:  right;
}

.hero img {
    width: 90%;
}

.hero h1 {
    text-shadow: 0 0 20px rgba(0,0,0,.6);
}

.hero p {
    text-shadow: 0 0 20px rgba(0,0,0,.6);
}

.hero a {
font-family: 'Chicle', cursive;
text-decoration: none;
border:  2px solid #E2E2E2;
border-radius: 4px;
color: #44554F;
padding: 0 10px;
background: #E2E2E2 no-repeat 50% 50%;
box-shadow: 0 0 20px rgba(0,0,0,.6);
transition:  background .4s;
}

.hero a:hover {
color: #BCBCBC;
} 

body {
    text-align: center;
    background: #44554F
}

header li a:hover {
color: #BCBCBC;
} 

.services {
    padding:  1.5rem;
    color:  #394B45;
    background: #BCBCBC;
}

.services img{
    width:  75%;
}

.services h1{
    margin-top:  1;
}

.service {
    border-radius: 4px;
margin-bottom: 1rem;
padding: 1rem;
border: 3px solid #44554F;
}

footer {
    background: #44554F
}

footer li a {
text-decoration: none;
border:  2px solid #E2E2E2;
color: #44554F;
padding: 0 10px;
background: #E2E2E2 no-repeat 50% 50%;
}

footer p {
margin-top: 0;
}

footer li a:hover {
color: #BCBCBC;
} 

.logistics {
background: #1B2421;
padding: 1.5rem;
}

.logistics h1 {
margin: 0;
}

img {
    width:  100%;
    text-align: center;
}

.logo {
    width:  50%;
    text-align: left;

}

.logistics img {
    text-align: center;
    width: 100%;
} 

.breadcrumbs {
    padding: 1.5rem;
}

.breadcrumbs ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.breadcrumbs li {
    display: inline-block;
    color: #bdbdbd;
}

.breadcrumbs li a {
    color: #607d8b;
}

.service h1 a {
    text-decoration:  none;
    color: #44554F;
}


h2 {
font-family: 'Chicle', cursive;
font-size: 2.5rem;
line-height: 1;
}

.main-content,
.side-content {
 padding: 1.5rem;
}

.main-content img,|
.side-content img {
width: 50%;
} 

.side-content {
    color: #44554F ;
    background:  #E2E2E2;
}

.side-content h1 a {
    color: #44554F;
    text-decoration:  none;
}

.main-content{
    background: #1B2421;
}

p {
font-size: 1.5rem;
}
@media screen and (min-width: 40em){
p {
 font-size: 2rem;
}
}
@media screen and (min-width: 64em){
p {
 font-size: 2.5rem;
}

h1 {
font-size: 1.5rem;
}
@media screen and (min-width: 40em){
h1 {
 font-size: 3rem;
}
}
@media screen and (min-width: 64em){
h1 {
 font-size: 4.5rem;
}

@media screen and (min-width: 40em){
body {
 font-size: 1.125rem;
}
}

@media screen and (min-width: 64em){
body {
 font-size: 1.25rem;
}
}

body {
font-size: 1.5rem;
}

@media screen and (min-width: 40em){
.logo {
         float: left;
 height: 10rem;
}
header ul {
         float: right;
}
header li {
 line-height: 10rem;
}
header {
         overflow: hidden;
}
}

header .logo {
transition: transform .4s;
}
header .logo:hover {
transform: scale(1.15);
}

.service h1 {
     transition: transform .4s;
}

.service h1:hover {
transform: scale(1.1);
}





 /* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

 .hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

 
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

   @media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

 
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

   @media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


